<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Calendar API</title>
    <link rel="stylesheet" href="/css/events.css">
</head>
<body>
    <div class="container">
        <h1>Upcoming events</h1>
        
        <% if(events.length > 0) { %>
        <div class="events">
            <% datesWithDays.forEach(date => { %>
                <div class="date__container">
                   <div class="date"><%= date.day %> <%= date.date %></div>
                   <ul>
                        <% events.forEach(event => { %>
                            <% if(event.start.dateTime.split('T')[0] === date.date) { %>
                                <li><span class="event__times"><%=event.start.dateTime.split('T')[1].split('+')[0]%> - <%=event.end.dateTime.split('T')[1].split('+')[0]%></span> <span class="event__summary"><%=event.summary%></span></li>
                            <% } %>
                        <% }) %>
                    </ul>
                </div>
            <% }) %>
        </div>
        <% } else { %>
        <h3>No events to show...</h3>
        <% } %>    
    </div>
</body>
</html>